// fellah-layout.component.scss
.fellah-layout {
  display: grid;
  grid-template-columns: 272px 1fr;
  height: 100vh;
  overflow: hidden;

  &__content {   // wraps <router-outlet>
    height: 100vh;
    overflow: hidden;   // each child manages its own scroll
  }
}
