.fellah-layout {
  display: grid;
  grid-template-columns: 272px 1fr;
  height: 100vh;
  overflow: hidden;

  &__content {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > * {
      flex: 1;
      min-height: 0;
    }
  }
}
